/* Video Buttons */
#btn-video-large,
#btn-video-small {
  background: linear-gradient(
    to bottom,
    rgba(107, 69, 105, 0.9),
    rgba(107, 69, 105, 0.7)
  );
  backdrop-filter: blur(5px);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#btn-video-large:hover,
#btn-video-small:hover {
  background: linear-gradient(
    to bottom,
    rgba(107, 69, 105, 0.7),
    rgba(107, 69, 105, 0.9)
  );
}

#btn-video-small {
  display: none;
}

#btn-video-close {
  position: absolute;
  top: 0.75em;
  right: 0.75em;
  color: white;
  background-image: linear-gradient(
    35deg,
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.4)
  );
  margin: 0;
  padding: 0.25em 0.75em 0.3em 0.76em;
  font-size: 1.2em;
  border-radius: 5px;
  outline: 1px solid white;
}

#btn-video-close:hover {
  background-image: linear-gradient(
    -30deg,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.85)
  );
  outline: 1px solid #e1e1e1;
}

/* Video Popup */
#aboutUs .aboutUs-video-popup {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

#aboutUs .aboutUs-video-popup div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#aboutUs .aboutUs-video-popup video {
  object-fit: contain;
  max-width: 80%;
}

/* Form and form Button */
@media (prefers-reduced-motion: no-preference) {
  #form {
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: 50px;
    animation-range-end: contain;
  }

  @keyframes fade-in {
    to {
      margin-top: 5em;
      margin-bottom: 0;
      max-height: 100%;
      opacity: 1;
      visibility: visible;
    }
  }
}

#form form {
  border: 3px solid #826080;
  border-bottom: none !important;
  background-color: #eff1ee;
  border-style: groove;
  min-width: 30%;
}

#form button {
  outline: 1px solid white;
  background-image: linear-gradient(
    to top,
    rgba(107, 69, 105, 1),
    rgba(158, 134, 157, 1)
  );
  color: white;
  border: none;
  padding: 7.5px 30px;
  border-radius: 50px;
  font-size: 1em;
  cursor: pointer;
}

.btn-primary {
  outline: 2px solid white;
  background-image: linear-gradient(
    to bottom,
    rgba(107, 69, 105, 1),
    rgba(158, 134, 157, 1)
  );
  border: none;
  border-radius: 50%;
  padding: 10px 25px !important;
  color: white;
  font-size: 18px;
  transition: background-image 0.3s;
}
.btn-primary:hover {
  outline: 2px solid #fafafa;
  background-image: linear-gradient(
    to top,
    rgba(107, 69, 105, 1),
    rgba(158, 134, 157, 1)
  );
}

.form-check-input {
  appearance: none; /* Entfernt das Standard-Checkbox-Design */
  border: 2px solid #6b4569; /* Rahmenfarbe */
  outline: none; /* Keine Umrandung */
  cursor: pointer; /* Zeigt, dass die Checkbox anklickbar ist */
}

.form-check-input:checked {
  background-color: #6b4569 !important; /* Hintergrundfarbe, wenn die Checkbox ausgewählt ist */
  border: none; /* Rahmen entfernen, wenn ausgewählt */
}

/* 3-D Card */
.card-main-container {
  position: relative;
  perspective: 1000px;
  margin: 0 auto;
  margin-bottom: 2em;
}

.card-sub-container {
  position: relative;
  border-radius: 0.5rem;
  height: 100%;
  width: 25rem;
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.5);
  color: black;
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
}

.card-sub-container:hover {
  transform: rotateY(180deg);
}

.card-front {
  position: absolute;
  border-radius: 0.5rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  backface-visibility: hidden;
}

.card-back {
  position: absolute;
  border-radius: 0.5rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
    45deg,
    rgb(158, 134, 157, 1),
    rgb(255, 255, 255, 1)
  );
  transform: rotateY(180deg);
  backface-visibility: hidden;
  text-align: center;
}

.card-back-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-back-btn {
  outline: 1px solid white;
  background-image: linear-gradient(
    to top,
    rgba(107, 69, 105, 1),
    rgba(158, 134, 157, 1)
  );
  color: white;
  border: none;
  padding: 15px 85px;
  border-radius: 50px;
  font-size: 1.25em;
  cursor: pointer;
}

.card-back-btn:hover {
  outline: 1px solid #e3e3e3;
  background-image: linear-gradient(
    to top,
    rgba(158, 134, 157, 1),
    rgba(107, 69, 105, 1)
  );
}
