/* Components */
#btn-video-large,
#btn-video-small {
  /* background-color: rgba(107, 69, 105, 0.8); */
  background: linear-gradient(
    to bottom,
    rgba(107, 69, 105, 0.9),
    rgba(107, 69, 105, 0.7)
  );
  backdrop-filter: blur(5px);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#btn-video-large:hover,
#btn-video-small:hover {
  /* background-color: rgba(107, 69, 105, 0.8); */
  background: linear-gradient(
    to bottom,
    rgba(107, 69, 105, 0.7),
    rgba(107, 69, 105, 0.9)
  );
}

#btn-video-small {
  display: none;
}

/* 3-D Card */
.card-container {
  perspective: 800px;
  margin: 0 auto;
  min-width: 17.5em; /* Breite der Karte nur hier einstellen! */
  margin: 20px;
}

.custom-card {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 0.5em;
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.5);
  color: black;
  text-align: center;
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
}

.card-container .custom-card:hover {
  transform: rotateY(180deg);
}

.custom-card--front {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: inherit;
  backface-visibility: hidden;
}

.custom-card--back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: inherit;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.shop-image {
  width: 100%;
}

/* Form Button */
.btn-primary {
  outline: 2px solid white;
  background-image: linear-gradient(
    to bottom,
    rgba(107, 69, 105, 1),
    rgba(158, 134, 157, 1)
  );
  border: none;
  border-radius: 50%;
  padding: 10px 25px !important;
  color: white;
  font-size: 18px;
  transition: background-image 0.3s;
}
.btn-primary:hover {
  outline: 2px solid #fafafa;
  background-image: linear-gradient(
    to top,
    rgba(107, 69, 105, 1),
    rgba(158, 134, 157, 1)
  );
}

.form-check-input {
  appearance: none; /* Entfernt das Standard-Checkbox-Design */
  border: 2px solid #6B4569; /* Rahmenfarbe */
  outline: none; /* Keine Umrandung */
  cursor: pointer; /* Zeigt, dass die Checkbox anklickbar ist */
}

.form-check-input:checked {
  background-color: #6B4569 !important; /* Hintergrundfarbe, wenn die Checkbox ausgewählt ist */
  border: none; /* Rahmen entfernen, wenn ausgewählt */
}