#footer {
  background-color: #441a42; /* Dunkler Hintergrund */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17.5px;
  flex-wrap: wrap;
  border-top: 1px solid #444; /* Dezente Border für den Footer */
}

.social-icons a {
  color: white;
  margin-right: 15px;
  font-size: 24px; /* Icons etwas größer machen */
  text-decoration: none;
  transition: color 0.3s ease; /* sanfte Farbänderung bei Hover */
}

.social-icons a:hover {
  color: #aaa; /* Farbe für Hover-Effekt */
}

.footer-info {
  color: #fff;
}

.footer-info .impressum {
  color: #fff; /* Weiß beim Hover */
  text-decoration: underline !important;
}

.footer-info .impressum:hover {
  color: #aaa; /* Weiß beim Hover */
}

@media (max-width: 562px) {
  #footer {
    flex-direction: column;
    align-items: center;
  }
}
