/* Section AboutUs */
@media screen and (max-width: 900px) {
  #aboutUs article header h1 {
    font-size: 1.5em;
  }

  #aboutUs article p {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 768px) {
  #btn-video-large {
    display: none;
  }

  #btn-video-small {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* Feste Breite für rundes Design */
    height: 50px; /* Gleiche Höhe wie Breite für perfekten Kreis */
    padding: 10px;
    border-radius: 50%;
  }
}

@media screen and (max-width: 645px) {
  #aboutUs article header h1 {
    font-size: 1.25em;
  }

  #aboutUs article p {
    font-size: 0.85em;
  }

  #btn-video-large {
    display: none;
  }
}

@media screen and (max-width: 495px) {
  #aboutUs article {
    padding: 10px;
  }

  #aboutUs article hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #aboutUs article header h1 {
    font-size: 1em;
  }

  #aboutUs article p {
    font-size: 0.75em;
  }
}

/* Media Queries für Responsive Design */
@media screen and (max-width: 768px) {
  .aboutUs-video-container {
    width: 95%;
    margin: 0 10px;
  }

  #btn-video-close {
    top: -30px;
    right: 10px;
  }
}

/* SECTION CONCEPT */
@media screen and (max-width: 1070px) {
  .concept-container {
    width: 50em;
  }

  .concept-container p {
    font-size: 1.1em;
    line-height: 1.4em;
    margin: 0.75em auto;
  }

  .concept-container header h2 {
    margin: 0.5em auto;
  }

  .concept-container--svg {
    height: 75px;
    width: 75px;
  }

  .concept-container--svg svg {
    height: 45px;
    width: 45px;
  }
}

@media screen and (max-width: 890px) {
  .concept-container {
    width: 40em;
  }

  .concept-container header h2 {
    margin: 0.25em auto;
  }

  .concept-container p {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 720px) {
  .concept-container {
    width: 30em;
    padding: 1em 1.5em;
  }

  .concept-container header h2 {
    margin: 0.25em auto;
    font-size: 1.5em;
  }

  .concept-container p {
    font-size: 1em;
    line-height: 1.25em;
  }

  .concept-container--svg {
    height: 65px;
    width: 65px;
  }

  .concept-container--svg svg {
    height: 35px;
    width: 35px;
  }
}

@media screen and (max-width: 565px) {
  .concept-container {
    width: 20em;
    padding: 0.5em 1em;
  }

  .concept-container p {
    font-size: 0.85em;
    line-height: normal;
  }

  .concept-container--svg {
    height: 50px;
    width: 50px;
  }

  .concept-container--svg svg {
    height: 25px;
    width: 25px;
  }

  .concept-container header h2 {
    font-size: 1em;
  }
}

/* SECTION TEAM */
@media screen and (max-width: 780px) {
  .team-container p {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 705px) {
  .team-container {
    font-size: 1em;
  }

  .team-container--item:nth-child(odd) {
    flex-wrap: wrap;
    padding-right: 0;
  }

  .team-container--item:nth-child(even) {
    flex-wrap: wrap-reverse;
    padding-left: 0;
  }

  .team-container--item p {
    max-width: 350px;
    text-align: justify;
    padding: 0 0.5em 1.2em 0.5em;
  }
}

@media screen and (max-width: 450px) {
  .team-container {
    font-size: 0.85em;
  }
}

/* SECTION GESCHÄFTSKUNDEN */
@media screen and (max-width: 1072px) {
  .scrolling-bg-third--container article h2 {
    font-size: 1.7em;
    padding: 1.1em;
  }

  .scrolling-bg-third--container article p {
    font-size: 1.1em;
    padding: 0 1.1em 1.1em 1.1em;
  }
}

@media screen and (max-width: 850px) {
  .scrolling-bg-third--container article h2 {
    padding: 0.65em 0;
    font-size: 1.5em;
  }

  .scrolling-bg-third--container article p {
    column-count: 1;
    padding: 0 1em 1em 1em;
  }
}

@media screen and (max-width: 672px) {
  .scrolling-bg-third--container article h2 {
    padding: 0.65em 0;
    font-size: 1.2em;
  }

  .scrolling-bg-third--container article p {
    text-align: left;
    font-size: 0.85em;
  }
}

/* FORM */
@media screen and (max-width: 1250px) {
  #form form {
    padding: 15px;
  }

  #form input {
    padding: 5px;
  }

  #form label {
    margin: 0;
  }
}

@media screen and (max-width: 450px) {
  #form label,
  input {
    font-size: 0.85em;
    margin: 0;
    padding: 0 1px;
  }

  #form button {
    padding: 5px 25px;
  }

  #form .form-check {
    padding: 0;
  }
}

/* SHOP */
@media screen and (max-width: 928px) {
  .flip-card:first-child {
    height: 625px;
  }

  .flip-card:nth-child(2) {
    height: 662px;
  }

  .flip-card:last-child {
    height: 735px;
  }
}

@media screen and (max-width: 628px) {
  .shop-header {
    padding: 2em 1.5em;
  }

  .shop-header h2 {
    font-size: 1.5em;
  }

  .shop-header p {
    font-size: 1em;
  }

  .shop-header--sub-header h3 {
    font-size: 1.25em;
  }
}

@media screen and (max-width: 450px) {
  .shop-header h2 {
    font-size: 1.25em;
  }

  .shop-header p {
    font-size: 0.85em;
  }

  .shop-header--sub-header h3 {
    font-size: 1em;
  }

  .card-text,
  .list-group-item {
    font-size: 0.85em;
    text-align: left;
  }

  .card-body header h2,
  .card-price {
    font-size: 1.25em;
  }

  .card-body article,
  .list-group {
    font-size: 0.85em;
  }

  .flip-card:first-child {
    height: 522px;
  }

  .flip-card:nth-child(2) {
    height: 588px;
  }

  .flip-card:last-child {
    height: 614px;
  }

  .flip-card {
    width: 19em;
    overflow: hidden;
  }
}

/* SECTION LOCATION */
@media screen and (max-width: 1072px) {
  .scrolling-bg-fourth--container article h2 {
    font-size: 1.7em;
    padding: 1.1em;
  }

  .scrolling-bg-fourth--container article p {
    font-size: 1.1em;
    padding: 0 1.1em 1.1em 1.1em;
  }
}

@media screen and (max-width: 850px) {
  .scrolling-bg-fourth--container article h2 {
    padding: 0.65em 0;
    font-size: 1.5em;
  }

  .scrolling-bg-fourth--container article p {
    padding: 0 1em 1em 1em;
  }
}

@media screen and (max-width: 672px) {
  .scrolling-bg-fourth--container article h2 {
    padding: 0.65em 0;
    font-size: 1.2em;
  }

  .scrolling-bg-fourth--container article p {
    text-align: left;
    font-size: 0.85em;
  }
}

/* FAQ */
@media screen and (max-width: 628px) {
  .question-answers-header {
    padding: 2em 1.5em;
  }

  .question-answers-header h2 {
    font-size: 1.5em;
  }

  .question-answers-header p {
    font-size: 1em;
  }

  .accordion-container button,
  .panel {
    font-size: 1em;
  }
}

@media screen and (max-width: 450px) {
  .question-answers-header h2 {
    font-size: 1.25em;
  }

  .accordion-container button,
  .panel {
    font-size: 0.85em;
  }
}

/* Nur für iOS Geräte */
@supports (-webkit-touch-callout: none) {
  .bg--phone-devices {
    background-attachment: scroll;
  }

  #scrolling-bg-third.bg--phone-devices {
    background-attachment: scroll;
  }

  #scrolling-bg-fourth.bg--phone-devices {
    background-attachment: scroll;
  }

  /* Performanceoptimierung für iOS */
  .bg--phone-devices {
    /* Verhindert Memory-Leaks auf iOS */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    /* Verbesserte Scrolling-Performance */
    -webkit-overflow-scrolling: touch;
    background-attachment: scroll;
  }
}

/* SECTION GALLERY */
@media screen and (max-width: 768px) {
  .gallery-foreground {
    height: 12.5em;
  }
}

@media screen and (max-width: 992px) {
  .kontakt-container {
    width: 90%;
    height: 90%;
    margin: 0;
  }

  .form-container {
    padding: 1em;
  }
}

@media screen and (max-width: 768px) {
  #kontakt {
    width: 100%;
  }

  .kontakt-container {
    position: relative;
    width: 80%;
    height: 80%;
    margin: 1em;
    border-radius: 0.5em;
  }

  .maps,
  .form-container {
    flex-basis: 100%;
  }

  .maps {
    border: none;
    height: 300px; /* Angepasste Höhe für kleinere Bildschirme */
  }

  .maps iframe {
    border-radius: 0.5em 0.5em 0 0;
  }

  .form-container {
    border-radius: 0 0 0.5em 0.5em;
    padding: 0.8em;
    height: 540px;
    min-width: 0;
  }

  .form div {
    padding: 0.2em;
  }

  .form input:not(.checkbox-container input),
  .form textarea {
    padding: 0.25em;
  }
}

@media screen and (max-width: 576px) {
  .kontakt-container {
    width: 90%;
    height: 90%;
  }
}
