:root {
  --gallery-with: 80%;
  --gallery-gap: 2em;
  --gallery-image-height: 15.625em; /* sind 250px */
  --gallery-first-gc-position: 6em;
  --gallery-animation-duration--slow: 100s;
  --gallery-animation-duration--fast: 60s;
}

/* global */
.bg-fixed-scroll--divider {
  overflow-x: hidden;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  height: 1em;
  width: 100%;
}

/* -- Section About Us -- */
#aboutUs {
  position: relative;
}

.aboutUs-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin-top: 55px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.aboutUs-video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  filter: brightness(90%);
  z-index: 1;
}

.container-btn-video {
  position: relative;
  text-align: center;
  z-index: 5;
}

.aboutUs-container header h1 {
  margin: 0;
  letter-spacing: 0.025em;
}

.aboutUs-container article p {
  margin: 0;
  font-size: 1.7em;
}

.aboutUs-container article p a {
  color: white;
}

.aboutUs-container article hr {
  background-color: white;
  height: 2px;
}

.aboutUs-container article {
  padding: 1em;
  border-radius: 4px;
  color: white;
  width: 50%;
  z-index: 2;
  backdrop-filter: contrast(0.5) blur(5px);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.text-aboutUs--color-a:hover {
  color: #9e86;
}

.aboutUs-video-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 1000;
}

.aboutUs-video-popup.active {
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.7);
}

.aboutUs-video-container {
  position: relative;
  width: 80%;
  max-width: 80vw;
  max-height: 80vh;
}

.aboutUs-video-container video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 2.5px;
}

/* Section first Scrolling Background */
#scrolling-bg-first {
  position: relative;
  overflow: hidden;
}
.scrolling-bg-first--container {
  display: flex;
  flex-direction: column;
  height: 75vh;
  color: white;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/img/banner_concept.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  filter: grayscale(50%);
}

.bg-fixed-scroll--divider.first {
  position: absolute;
  top: 0;
}

/* SECTION CONCEPT */
#concept {
  position: relative;
  min-height: 100vh; /* Mindesthöhe auf 100% der Viewport-Höhe setzen */
  padding-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertikale Zentrierung des Inhalts */
  background-color: #f2f4ef;
}

.concept-container {
  position: relative; /* Änderung von absolute zu relative */
  display: flex;
  flex-direction: column;
  width: 60em;
  max-width: 90%; /* Maximale Breite für Responsivität */
  margin: -10em auto 2em; /* Zentrieren und Abstand nach unten hinzufügen */
  border-radius: 7.5px;
  padding: 1.5em 2em;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.concept-container header h2 {
  text-shadow: 0.5px 0.5px 2px #888;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 1em auto;
}

.concept-container article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.concept-container p {
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: justify;
  margin: 1em auto;
}

.concept-container--svg {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 50%;
  height: 85px;
  width: 85px;
}

.text-concept--color {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
  color: #826080;
}

.text-concept--color-a {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
  color: #826080;
  text-decoration-line: underline;
  text-underline-offset: 2.5px;
  text-wrap: nowrap;
}

.text-concept--color-a:hover {
  color: #9e869d;
}

/* SCROLLING BACKGROUND TEAM*/
.scrolling-bg-second--container {
  display: flex;
  flex-direction: column;
  height: 75vh;
  color: white;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/img/workbench_team.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  filter: grayscale(75%);
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.bg-fixed-scroll--divider.second {
  position: absolute;
  bottom: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .scrolling-bg-second--container h2 {
    margin: 0;
    scale: 0.25;
    opacity: 0;
    animation: Team linear forwards;
    animation-timeline: view();
    animation-range-start: entry -50px;
    animation-range-end: 390px;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }

  @keyframes Team {
    to {
      scale: 2;
      opacity: 1;
      letter-spacing: 0.1em;
    }
  }
}

/* SECTION TEAM */
.team-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  overflow-x: hidden;
}

.team-container--item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.2em;
}

.team-container--item:nth-child(odd) {
  background-image: linear-gradient(
    to right,
    rgba(107, 69, 106, 0.85),
    rgba(255, 0, 0, 0)
  );
  padding-right: 1em;
}

.team-container--item:nth-child(even) {
  background-image: linear-gradient(
    325deg,
    rgba(214, 214, 214, 1),
    rgba(242, 244, 239, 1)
  );
  padding-left: 1em;
}

.team-container--item p {
  max-width: 50%;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

.team-container--item img {
  height: 350px;
  width: auto;
}

/* SCROLLING BACKGROUND GESCHÄFTSKUNDEN */
#scrolling-bg-third {
  position: relative;
  height: 75vh;
  width: 100%;
  background-image: url("../assets/img/company.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  filter: grayscale(25%);
}

.scrolling-bg-third--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.scrolling-bg-third--container article {
  color: white;
  text-align: justify;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  backdrop-filter: contrast(0.5) blur(5px);
  width: 85%;
}

.scrolling-bg-third--container article h2 {
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 1.5em 0;
  margin: 0;
}

.scrolling-bg-third--container article p {
  margin: 0;
  padding: 0 2em 2em 2em;
  font-size: 1.25em;
  column-count: 2;
  column-gap: 4em;
  column-rule: 0.125em solid rgba(255, 255, 255, 0.5);
}

.bg-fixed-scroll--divider.third {
  position: absolute;
  top: 0;
}

/* SCROLLING BACKGROUND LOCATION*/
#scrolling-bg-fourth {
  position: relative;
  height: 75vh;
  width: 100%;
  background-image: url("../assets/img/location_background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  filter: grayscale(50%);
}

.scrolling-bg-fourth--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.scrolling-bg-fourth--container article {
  color: white;
  text-align: justify;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  backdrop-filter: contrast(0.5) blur(5px);
  width: 85%;
}

.scrolling-bg-fourth--container article h2 {
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 1em 0;
  margin: 0;
}

.scrolling-bg-fourth--container article p {
  margin: 0;
  padding: 0 1.25em 1.25em 1.25em;
  font-size: 1.25em;
}

.bg-fixed-scroll--divider.fourth {
  position: absolute;
  top: 0;
}

/* SECTION SHOP */
#shop {
  position: relative;
  background-color: #f2f4ef;
  min-height: 100%;
  padding-bottom: 3em;
  text-align: justify;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4em;
  width: auto;
  margin: 2.5em 0;
}

/* SECTION LOCATION */
#location {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f4ef;
  /* background-color: #92e984; for testing purposes */
  padding: 2em;
}

.wrapper {
  position: relative;
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: #f2f4ef;
  /* background-color: rgb(112, 112, 228); for testing purposes */
}

.gallery-background {
  position: relative;
  height: 100%;
  width: 600px;
  background-color: #826080;
  border-radius: 0.55em;
  z-index: 0;
}

.gallery-foreground {
  position: absolute;
  background-color: #441a42;
  border: 0.3em solid #f2f4ef;
  border-radius: 0.55em;
  border-top-left-radius: 0;
  color: white;
  max-width: 17.2em;
  height: auto;
  bottom: -2em;
  right: -2em;
  z-index: 1;
}

.gallery-foreground h3 {
  text-align: center;
  margin: 0;
  padding: 1em;
}

.gallery-foreground p {
  text-align: justify;
  padding: 0 1em 1em 1em;
  margin: 0;
}

.gallery-container {
  /* border: 2px solid lime; */
  position: absolute;
  max-width: var(--gallery-with);
  z-index: 1;
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.gc-first {
  top: var(--gallery-first-gc-position);
}

.gc-second {
  top: calc(var(--gallery-image-height) / 1em);
}

.gallery-container--rows {
  display: flex;
  gap: var(--gallery-gap);
  z-index: 1;
}

.gallery-container--rows img {
  display: block;
  width: var(--gallery-image-height);
  height: auto;
  border: 0.15em solid #f2f4ef;
  border-radius: 0.25em;
}

.gallery-container[data-animated="true"] .gallery-container--rows {
  width: max-content;
  flex-wrap: nowrap;
}

.gallery-container[data-direction="right"] .gallery-container--rows {
  animation-direction: reverse;
  animation-timing-function: linear;
  animation-name: scroll;
  animation-duration: var(--gallery-animation-duration--slow, 50s);
  animation-iteration-count: infinite;
}

.gallery-container[data-direction="left"] .gallery-container--rows {
  animation-direction: forwards;
  animation-timing-function: linear;
  animation-name: scroll;
  animation-duration: var(--gallery-animation-duration--slow, 50s);
  animation-iteration-count: infinite;
}

.gallery-container[data-speed="fast"] .gallery-container--rows {
  animation-duration: var(--gallery-animation-duration--fast);
}

.gallery-container[data-speed="slow"] .gallery-container--rows {
  animation-duration: var(--gallery-animation-duration--slow);
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - (var(--gallery-gap) / 2)));
  }
}

/* SCROLLING BACKGROUND KONTAKT*/
.scrolling-bg-sixth--container {
  display: flex;
  flex-direction: column;
  height: 75vh;
  color: white;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/img/workbench_team.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  filter: grayscale(75%);
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.bg-fixed-scroll--divider.sixth {
  position: absolute;
  top: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .scrolling-bg-sixth--container h2 {
    margin: 0;
    scale: 0.25;
    opacity: 0;
    animation: Kontakt linear forwards;
    animation-timeline: view();
    animation-range-start: entry -50px;
    animation-range-end: 390px;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }

  @keyframes Kontakt {
    to {
      scale: 2;
      opacity: 1;
      letter-spacing: 0.1em;
    }
  }
}

/* SECTION MAPS AND CONTACT */
#kontakt {
  position: relative;
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f4ef;
}

.kontakt-container {
  position: absolute;
  width: 70%;
  height: 85%;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  overflow: hidden;
}

/* -- ANIMATIONS -- */
.grid-item {
  opacity: 0; /* Anfangszustand für die Animation */
  animation-duration: 1.15s; /* Dauer der Animation */
  animation-fill-mode: forwards; /* Bewahrt den Endzustand */
}

.flex-item--animated {
  opacity: 0; /* Anfangszustand für die Animation */
  animation-fill-mode: forwards; /* Bewahrt den Endzustand */
  animation-duration: 1.75s;
}

/* Fade-In von links */
.fade-in-left {
  animation-name: fadeInLeft;
}

@keyframes fadeInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/*  Fade-In von rechts */
.fade-in-right {
  animation-name: fadeInRight;
}

@keyframes fadeInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/*  Fade-In von oben */
.fade-in-top {
  animation-name: fadeInTop;
}

@keyframes fadeInTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate__animated.animate__fadeInDownBig {
  --animate-duration: 1.25s;
}
