:root {
  /* AboutUs */
  --text-primary: black;
  --text-primary-hover: #4694ff;
  /* Concept */
  --text-secondary: black;
  --text-secondary-hover: rgb(64, 73, 157);
  /* Team */
  --team-bg-linear-gradient--even-start: #ecece7;
  --team-bg-linear-gradient--even-end: #ecece7;
  --team-bg-linear-gradient--odd-start: rgba(64, 73, 157, 0.75);
  --team-bg-linear-gradient--odd-end: rgba(255, 0, 0, 0);
  /* Gallery */
  --gallery-bg: rgba(64, 73, 157, 0.75);
  --gallery-fg: rgb(64, 73, 157);
  --gallery-width: 80%;
  --gallery-gap: 2em;
  --gallery-space-top: 6em;
  --gallery-image-height: 250px;
  --gallery-animation-duration--slow: 100s;
  --gallery-animation-duration--fast: 60s;
}

/* global */
.bg-fixed-scroll--divider {
  position: absolute;
  overflow-x: hidden;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  height: 1em;
  width: 100%;
}

/* -- Section About Us -- */
#aboutUs {
  position: relative;
  height: 100vh;
  width: 100%;
}

.aboutUs-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 55px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.aboutUs-video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  filter: brightness(90%);
  z-index: 1;
}

.container-btn-video {
  position: relative;
  text-align: center;
  z-index: 5;
}

.aboutUs-container article {
  padding: 1.5em;
  border-radius: 4px;
  color: white;
  width: 50%;
  z-index: 2;
  backdrop-filter: contrast(0.5) blur(5px);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* Performance Optimierungen */
  transform: translateZ(0);
}

.aboutUs-container article h1 {
  margin-bottom: 0.5em;
}

.aboutUs-container article p {
  margin: 0;
  font-size: 1.7em;
  letter-spacing: 0.03em;
  line-height: 1.3em;
}

.aboutUs-container article p a {
  color: white;
}

.aboutUs-container article hr {
  background-color: white;
  height: 2px;
}

.text-aboutUs--color-a:hover {
  color: var(--text-primary-hover);
}

.aboutUs-video-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  /* Performance Optimierungen */
  transform: translateZ(0);
  backface-visibility: hidden;
  transition: all 0.3s ease;
}

.aboutUs-video-popup.active {
  opacity: 1;
  visibility: visible;
}

.aboutUs-video-container {
  position: relative;
  width: 90%; /* Angepasst für bessere Mobilansicht */
  max-width: 1200px; /* Maximale Breite definiert */
  aspect-ratio: 16/9; /* Wichtig für Videoverhältnis */
  background-color: black; /* Hintergrund für das Video */
  border-radius: 4px;
  overflow: hidden; /* Wichtig für border-radius */
}

.aboutUs-video-container video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block; /* Verhindert unerwünschte Abstände */
}

/* Section first Scrolling Background */
#scrolling-bg-first {
  position: relative;
  overflow: hidden;
}

.scrolling-bg-first--container {
  display: flex;
  flex-direction: column;
  height: 75vh;
  color: white;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/img/banner_concept.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  filter: grayscale(50%);
}

.bg-fixed-scroll--divider.first {
  top: 0;
}

/* SECTION CONCEPT */
#concept {
  position: relative;
  min-height: 100vh; /* Mindesthöhe auf 100% der Viewport-Höhe setzen */
  padding-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertikale Zentrierung des Inhalts */
  background-color: #fff;
}

.concept-container {
  position: relative; /* Änderung von absolute zu relative */
  display: flex;
  flex-direction: column;
  width: 60em;
  max-width: 90%; /* Maximale Breite für Responsivität */
  margin: -10em auto 2em; /* Zentrieren und Abstand nach unten hinzufügen */
  border-radius: 7.5px;
  padding: 1.5em 2em;
  background-color: #ecece7;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.concept-container header h2 {
  text-shadow: 0.5px 0.5px 2px #888;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 1em auto;
  color: #000c1c;
}

.concept-container article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.concept-container p {
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: justify;
  margin: 1em auto;
}

.concept-container--svg {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 50%;
  height: 85px;
  width: 85px;
}

.text-concept--color {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
  color: var(--text-secondary);
}

.text-concept--color-a {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
  color: var(--text-secondary);
  text-decoration-line: underline;
  text-underline-offset: 2.5px;
  text-wrap: nowrap;
}

.text-concept--color-a:hover {
  color: var(--text-secondary-hover);
}

.bg-fixed-scroll--divider.second {
  top: 0;
}

/* SCROLLING BACKGROUND TEAM*/
.scrolling-bg-second--container {
  display: flex;
  flex-direction: column;
  height: 75vh;
  color: white;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/img/workbench_team.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  filter: grayscale(75%);
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

@media (prefers-reduced-motion: no-preference) {
  .scrolling-bg-second--container h2 {
    margin: 0;
    scale: 0.25;
    opacity: 0;
    animation: Team linear forwards;
    animation-timeline: view();
    animation-range-start: entry -50px;
    animation-range-end: 390px;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }

  @keyframes Team {
    to {
      scale: 2;
      opacity: 1;
      letter-spacing: 0.1em;
    }
  }
}

.bg-fixed-scroll--divider.third-one {
  top: 0;
}

.bg-fixed-scroll--divider.third-second {
  bottom: 0;
}

/* SECTION TEAM */
.team-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  overflow-x: hidden;
}

.team-container--item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.2em;
}

.team-container--item:nth-child(odd) {
  background-image: linear-gradient(
    to right,
    var(--team-bg-linear-gradient--odd-start),
    var(--team-bg-linear-gradient--odd-end)
  );
  padding-right: 1em;
}

.team-container--item:nth-child(even) {
  background-image: linear-gradient(
    325deg,
    var(--team-bg-linear-gradient--even-start),
    var(--team-bg-linear-gradient--even-end)
  );
  padding-left: 1em;
}

.team-container--item p {
  max-width: 50%;
  margin: 0;
  padding: 0;
  font-size: 1.25em;
}

.team-container--item img {
  height: 350px;
  width: auto;
}

/* SCROLLING BACKGROUND GESCHÄFTSKUNDEN */
#scrolling-bg-third {
  position: relative;
  height: 75vh;
  width: 100%;
  background-image: url("../assets/img/company.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  filter: grayscale(25%);
}

.scrolling-bg-third--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.scrolling-bg-third--container article {
  color: white;
  text-align: justify;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  backdrop-filter: contrast(0.5) blur(5px);
  width: 85%;
}

.scrolling-bg-third--container article h2 {
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 1.5em 0;
  margin: 0;
}

.scrolling-bg-third--container article p {
  margin: 0;
  padding: 0 2em 2em 2em;
  font-size: 1.25em;
  column-count: 2;
  column-gap: 4em;
  column-rule: 0.125em solid rgba(255, 255, 255, 0.5);
}

.bg-fixed-scroll--divider.fourth-one {
  top: 0;
}

.bg-fixed-scroll--divider.fourth-second {
  bottom: 0;
}

/* SECTION SHOP */
#shop {
  position: relative;
  background-color: #ecece7;
  min-height: 100%;
  padding-bottom: 3em;
  text-align: justify;
}

.shop-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5em 2em;
}

.shop-header h2 {
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.3);
}

.shop-header p {
  margin: 0;
  font-size: 1.2em;
  margin-top: 1em;
}

.shop-header--sub-header h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #999;
  letter-spacing: 0.1em;
  text-decoration: underline;
}

.shop-header--sub-header span {
  margin-right: 10px;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4em;
  width: auto;
  margin: 2.5em 1.5em;
}

/* SCROLLING BACKGROUND LOCATION*/
#scrolling-bg-fourth {
  position: relative;
  height: 75vh;
  width: 100%;
  background-image: url("../assets/img/location_background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  filter: grayscale(50%);
}

.scrolling-bg-fourth--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.scrolling-bg-fourth--container article {
  color: white;
  text-align: justify;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  backdrop-filter: contrast(0.5) blur(5px);
  width: 85%;
}

.scrolling-bg-fourth--container article h2 {
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 1em 0;
  margin: 0;
}

.scrolling-bg-fourth--container article p {
  margin: 0;
  padding: 0 1.25em 1.25em 1.25em;
  font-size: 1.25em;
}

.bg-fixed-scroll--divider.fith-one {
  top: 0;
}

.bg-fixed-scroll--divider.fith-second {
  bottom: 0;
}

/* SECTION LOCATION */
#location {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecece7;
  /* background-color: #92e984; for testing purposes */
  padding: 1em;
}

.wrapper {
  position: relative;
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: #ecece7;
  /* background-color: rgb(112, 112, 228); for testing purposes */
}

.gallery-background {
  position: relative;
  height: 100%;
  width: 600px;
  background-color: var(--gallery-bg);
  border-radius: 0.55em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 0;
}

.gallery-foreground {
  position: absolute;
  background-color: var(--gallery-fg);
  border-top: 0.3em solid #f2f4ef;
  border-left: 0.3em solid #f2f4ef;
  border-bottom-right-radius: 0.55em;
  color: white;
  max-width: 19.2em;
  height: 15em;
  bottom: -3em;
  right: -2em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: rgba(0, 0, 0, 0.16) 2.8px 2.8px 5px,
    rgba(45, 45, 45, 0.45) 3px 3px 6px 0px inset;
  z-index: 1;
}

.gallery-foreground h3 {
  text-align: center;
  margin: 0;
  padding: 1em;
}

.gallery-foreground p {
  text-align: justify;
  padding: 0 1em 1em 1em;
  margin: 0;
}

.gallery-container {
  position: absolute;
  top: var(--gallery-space-top);
  max-width: var(--gallery-width); /* Korrigierter Variablenname */
  z-index: 1;
  overflow: hidden;
  transform: translateZ(0);
  will-change: transform;
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.gallery-container--rows {
  display: flex;
  gap: var(--gallery-gap);
  z-index: 1;
}

.gallery-container--rows img {
  display: block;
  width: var(--gallery-image-height); /* Breite festlegen */
  height: var(
    --gallery-image-height
  ); /* Gleiche Höhe wie Breite für quadratische Form */
  object-fit: cover; /* Wichtig: Verhindert Verzerrung */
  border: 0.15em solid #f2f4ef;
  border-radius: 0.25em;
  box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3), 0 1px 3px rgba(60, 64, 67, 0.15);
}

.gallery-container[data-animated="true"] .gallery-container--rows {
  width: max-content;
  flex-wrap: nowrap;
}

@media (prefers-reduced-motion: no-preference) {
  .gallery-container[data-animated="true"] .gallery-container--rows {
    width: max-content;
    animation: scroll var(--gallery-animation-duration--slow) linear infinite;
    animation-play-state: paused; /* Initial pausiert */
  }

  /* Richtungssteuerung */
  .gallery-container[data-direction="right"] .gallery-container--rows {
    animation-direction: reverse;
  }

  .gallery-container[data-direction="left"] .gallery-container--rows {
    animation-direction: normal;
  }

  /* Geschwindigkeitssteuerung */
  .gallery-container[data-speed="fast"] .gallery-container--rows {
    animation-duration: var(--gallery-animation-duration--fast);
  }

  .gallery-container[data-speed="slow"] .gallery-container--rows {
    animation-duration: var(--gallery-animation-duration--slow);
  }
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - (var(--gallery-gap) / 2)));
  }
}

/* SCROLLING BACKGROUND FAQ*/
.scrolling-bg-sixth--container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 75vh;
  color: white;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/img/question_answers.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.bg-fixed-scroll--divider.sixth-one {
  top: 0;
}

.bg-fixed-scroll--divider.sixth-second {
  bottom: 0;
}

/* SECTION FAQ */
#question-answers {
  position: relative;
  height: 75vh;
  width: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  background-color: #ecece7;
}

.question-answers--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ecece7;
}

.question-answers-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5em 2em;
}

.question-answers-header h2 {
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.3);
}

.question-answers-header p {
  margin: 0;
  font-size: 1.2em;
  margin-top: 1em;
}

.accordion-container {
  margin: 5px 0;
  width: 70%;
}

.accordion {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(64, 73, 157);
  color: white;
  cursor: pointer;
  padding: 18px;
  outline: none;
  border: none;
  font-size: 1.2em;
  transition: 0.4s;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.active,
.accordion:hover {
  background-color: #ccc;
  color: #000c1c;
}

.accordion .add {
  display: block;
}

.accordion .remove {
  display: none;
}

.panel {
  padding: 0 18px;
  border-radius: 0 0 5px 5px;
  background-color: white;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

/* SCROLLING BACKGROUND KONTAKT*/
.scrolling-bg-seventh--container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 75vh;
  color: white;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/img/kontakt_background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  filter: grayscale(75%);
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.bg-fixed-scroll--divider.seventh-one {
  top: 0;
}

.bg-fixed-scroll--divider.seventh-second {
  bottom: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .scrolling-bg-seventh--container h2 {
    margin: 0;
    scale: 0.25;
    opacity: 0;
    animation: Kontakt linear forwards;
    animation-timeline: view();
    animation-range-start: entry -50px;
    animation-range-end: 390px;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }

  @keyframes Kontakt {
    to {
      scale: 2;
      opacity: 1;
      letter-spacing: 0.1em;
    }
  }
}

/* SECTION MAPS AND KONTAKT */
#kontakt {
  position: relative;
  min-height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecece7;
}

.kontakt-container {
  position: absolute;
  width: 70%;
  height: 85%;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
}

/* -- ANIMATIONS -- */
.grid-item {
  opacity: 0; /* Anfangszustand für die Animation */
  animation-duration: 1.15s; /* Dauer der Animation */
  animation-fill-mode: forwards; /* Bewahrt den Endzustand */
}

.flex-item--animated {
  opacity: 0; /* Anfangszustand für die Animation */
  animation-fill-mode: forwards; /* Bewahrt den Endzustand */
  animation-duration: 1.75s;
}

/* Fade-In von links */
.fade-in-left {
  animation-name: fadeInLeft;
}

@keyframes fadeInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/*  Fade-In von rechts */
.fade-in-right {
  animation-name: fadeInRight;
}

@keyframes fadeInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/*  Fade-In von oben */
.fade-in-top {
  animation-name: fadeInTop;
}

@keyframes fadeInTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate__animated.animate__fadeInDownBig {
  --animate-duration: 1.25s;
}
